/* css style  */
body{font-family: Segoe UI;}
section,main{padding-left: 50px;padding-right: 50px;}



/* css header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 10px;
}
.logo-icon {
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    max-height: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    padding-right: 10px;
}
.nav-container{
    display: flex;
    border: 1px solid;
    text-align: center;
    justify-content: center;
   }

.nav-container>a{
    padding: 10px;
    border: 1px solid;
    text-align: center;
}

/* css Home Content */

.banner-container{
    max-width: 1080px;
    height: 540px;
    border: 1px solid;    
}

.banner-container img {
    max-width: 100%;
    height: auto;
}

.banner-button {
padding-left: 340px;
}
/* css Our Profile Content  */
.profile-icon {
    background-image: url(../assets/1.png);
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    max-height: 100%;
    max-width: 100%;
    flex: 0 0 auto;

}

.profile-content {
    display: flex;
    justify-content: start;
    text-align: center;
}

.profile-item {
    text-align: center;
    padding-left: 20px;
}

.profile-1 {
    background-image: url(../assets/1.png);  
}
.profile-2 {
    background-image: url(../assets/2.png);  
}
.profile-3 {
    background-image: url(../assets/3.png);  
}

/* css portofolio */
.portofolio{
    width: 1920px;
    height: 300px;
    border: 1px solid;
}

/* css message us */
.form-container{
    width: 1920px;
    justify-content: start;
    gap:100px;
    display: flex;
      
}
/* css message us form  */
.form-content{
    flex: 0 1 auto;
    align-content: center;
    align-items: center;
}
.column-container{
    display: flex;
    align-content: center;
    align-items: center;
}

.column-container:last-child{
    align-items:start;
}

.column-left{
    flex:10;
    align-items:center;
}
.column-middle{
    align-items: end;
    align-items:center;
    flex:1;
}
.column-right{
    align-items:start;
    flex:50;
}

input[type="text"],input[type="date"]{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="textarea"]{
    width: 100%;
    height: 200px;
    padding:10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button{
    flex-grow: 1;
    margin: 0 5 px;
}

/* css display data  */
.display-content{
    flex: 0 1 auto;
    align-items: start;
    height:auto;
    width: 100%;
    border: 1px solid;
}


/* css top button  */
#myBtn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 0;
    outline: none; 
    background-color: #4CAF50;
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }

   #myBtn:hover {
    background-color: #555;
  }



@media screen and (max-width: 600px) {
    body {
        padding-left: none;
        padding-right: none;
        font-size: 14px;
        line-height: 1.5;
    }

    button {
        font-size: 14px;
        padding-left: none ;
       
    }

    .header-container{
        flex-direction: column;
    }
    .nav-container{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .logo-icon{
        margin-bottom: 14px;
    }
    .profile-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile-item{
        padding-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .banner-container{
        max-width: 300px;
        height: auto;
    }
       
    .form-container {
        flex-direction: column;
        justify-content : flex-start;
        align-items: flex-start;
    }

    .form-content {
        flex:0;
        align-content: center; 
    }

    .display-content{
        flex: 0;
        align-items: start;
        height:auto;
        width: 300px;
        border: 1px solid;
    }

    .portofolio{
        width: 300px;
        height: auto;
        border: 1px solid;
    }
    .banner-button {
        padding-left: 0;
    }

    #myBtn {
        display: none; 
        position: fixed;
        bottom: 5px;
        right: 10px;
        z-index: 99;
        border: 0;
        outline: none; 
        background-color: #4CAF50;
        color: white; 
        cursor: pointer; 
        padding: 5px;
        border-radius: 2px;
        font-size: 10px;
      }

}

